            <section>
                <h4>For anybody who needs to ration their daily energy...</h4>
                <h4>spoons has a simple tool -- using spoons...</h4>
                <nav>
                    <a href="#myspoons"><button type="button" class="button">About mySpoons<span class="tooltip">find out more about the mySpoons tool</span></button></a>
                    <a href="#spoontheory"><button type="button" class="button">Spoon Theory<span class="tooltip">learn more about "Spoon Theory"</span></button></a>
                </nav>
                <h4>Membership is Free!</h4>
                <a href="./signup"><button type="button" class="button">Sign Up<span class="tooltip">registration for mySpoons is fast and easy</span></button></a>
                <article id="myspoons">
                    <h3>mySpoons and dailySpoons</h3>
                        <p>
                        mySpoons and dailySpoons are simple, daily apps that make planning easier by using quantities of spoons 
                        as a way to measure your energy.  Users can plan the amount of energy they will use in a day and see how 
                        it compares with the maximum energy use that they've set for themselves.  mySpoons and dailySpoons enable 
                        chronically ill or disabled users to engage in life and manage health conditions.   
                        </p>
                </article>
                <article id="spoontheory">
                    <h3>Spoon Theory</h3>
                        <p>
                        "Spoon Theory" describes an analogy used by some chronically ill and disabled individuals to help others 
                         - often to those without chronic health conditions - understand the necessity chronically ill individuals 
                        have of budgeting their limited energy supply and planning activities so as not to run out of energy.  
                        The analogy involves starting each day with a number of spoons, or energy, and planning how to use them, with 
                        some activities using spoons, like taking a walk, and activities restoring spoons, like taking a nap.  Spoon Theory 
                        was first used and documented in 2003 by Christine Miserandino, an American writer, lupus sufferer, and 
                        activist.  <a href="https://butyoudontlooksick.com/articles/written-by-christine/the-spoon-theory/#google_vignette">For more information</a>
                        </p> 
                </article>        
            </section>

     