       
            <section>
                <h1>See you soon!!</h1>
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                <p>You will be redirected to the spoons homepage in a moment...</p> 
            </section>      