        <section>
        <h2>Add Activity</h2>
        <p>Add activiites to your Spoon Collection...</p>
        <p>Assign them a positive (drains energy) or negative (restores energy) value.</p>
        </br>
            <table>
                <thead>
                    <tr>
                        <th>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Activity 
                        </th>
                        
                        <th>
                            Number of Spoons
                        </th>
                    </tr> 
                </thead>
            </table>
            <form id="activities"> 
                <input type="submit" title = "add all entered activities to your mySpoons Collection" value ="Add">
                <br/>
                <input id="activity1" autofocus>
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                <input id="spoons1" type="number">
                </br>
                </br>
                </br>
                <input id="activity2">
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                <input id="spoons2" type="number">
                </br>
                </br>
                </br>
                <input id="activity3">
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                <input id="spoons3" type="number">
                </br>
                </br>
                </br>
                <input id="activity4">
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                <input id="spoons4" type="number">
                </br>
                </br>
                </br>
                <input id="activity5">
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                <input id="spoons5" type="number">
                </br>
                </br>
                </br>
                <input id="activity6">
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                <input id="spoons6" type="number">
                </br>
                </br>
                </br>
                <input id="activity7">
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                <input id="spoons7" type="number">
                </br>
                </br>
                </br>
                <input id="activity8">
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                <input id="spoons8" type="number">
                </br>
                </br>
                </br>
                <input id="activity9">
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                <input id="spoons9" type="number">
                </br>
                </br>
                </br>
                <input id="activity10">
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                <input id="spoons10" type="number">
                </br>
                </br>
                </br>
                <input type="submit" value ="Add">
            </form> 
        </section>
        <script src="./js/add_activity.js"></script> 
