            <section>
                <h4>Sign up for Free mySpoons Membership...</h4>
                <h4>and get started collecting your spoons...</h4>                    
                </br>
                <p>Enter a few pieces of information:</p>
                </br>
                <form id="signup">
                    <label for="name">name: </label> 
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <input type ="text" id="name" required autofocus>
                    </br>
                    </br>
                    <label for="email">email: </label> 
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <input type ="email" id="email" required>
                    </br>
                    </br>
                    <label for="password">password: </label> 
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <input type ="text" id="password" required>
                    </br>
                    </br>
                    <input type="submit" value ="Register">
                </form> 
            </section>
            <script src="./js/register.js"></script> 
