       
            <section>
                <h1>Thank you for signing up!!</h1>
                &nbsp;
                <h4>Next...start your spoon collection in mySpoons!</h4>
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                <p>You will be redirected to your mySpoons page in a moment...</p> 
                <img src="/img/spoons_website_redirect.jpeg" alt = "spoon collection" width="70%" height="auto">  
            </section>           
